<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgy.board.dao.BoardDao">

	<select id="list" resultType="com.lgy.board.dto.BoardDto">
		SELECT * FROM BOARDD ORDER BY TO_NUMBER(boardNum) DESC
	</select>

	<select id="getHit" resultType="com.lgy.board.dto.BoardDto">
		 <![CDATA[
        SELECT * FROM (
            SELECT board.*,
                   ROW_NUMBER() OVER (ORDER BY TO_NUMBER(boardHit) DESC, TO_NUMBER(boardNum) DESC) AS rnum
            FROM BOARDD board
        ) WHERE rnum <= 5
        ]]>
	</select>

</mapper>
